/* General */
.page_t8_wp .content {
    padding: 0 54px 24px 24px;
    width: 900px;
}
.page_t8_wp h3 { display: none;}
.banner_white_paper .banner-des h2 {
  color: #00AEF0;
}

.banner_white_paper .banner-des p {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  width: 345px;
  padding-bottom: 16px;
}
.banner_white_paper .banner-des p strong { font-weight: normal; font-family: 'proximanova-semibold'; }
.banner_white_paper .banner-des a
{
  color: #00AEF0;
  font-size: 18px;
  cursor: pointer;
  font-family: 'proximanova-light';
}
.white_paper ul { padding: 0; font-size: 0; }
  .white_paper li { display: inline-block; width: 420px; vertical-align: top; font-size: 15px; line-height: 18px; margin-bottom: 31px; margin-left: 30px;}
    .white_paper img { width: 64px; height: auto; float: left; margin-right: 22px; margin-top: 4px; margin-bottom: 5px;}
      .white_paper li > div { overflow: hidden;  width: 242px;}
        .white_paper h4,.white_paper h4 a{ margin: 0; font-weight: normal; font: 15px/18px 'proximanova-regular'; color: #004B85; }
        .white_paper div > span { font-weight: normal; color: #999999; font: 15px/18px 'proximanova-light'; display: block; margin: 4px 0 0px; }
        .white_paper p { font-family: 'proximanova-light'; color: #999; margin: 4px 0; }
.white_paper .shadow-top { padding-top: 56px;} 
.lt-ie9 .white_paper .shadow-top { padding-top: 57px;} 
.lt-ie9 .white_paper li { margin-bottom: 32px;}
.lt-ie9 .white_paper img { margin-top: 3px;}
.lt-ie9 .page_t8_wp .content { padding-bottom: 23px;}
/*slider block*/
 .slider-container {
    padding: 15px 54px 17px 306px;
}
 .slide-wrapper {
    height: 49px;
    /*margin: 60px 0 52px;*/
    margin: 38px 0 46px; 
  }
.white_paper img{
  border: 0;
}
.banner_white_paper .banner-des .link-view-wp { margin: 2px 0 0; padding: 0}
.slider-container .bx-wrapper .bx-controls-direction a.bx-prev { display: none;}
@media screen and (max-width: 719px) {
  .main-banner .banner-img { height: 150px;}
  .page_t8_wp .content { width: 81.25%; padding: 0 9.375% 20px;}
  .banner_white_paper .banner-des p { display: block; font-size: 15px; line-height: 18px; padding: 15px 0 3px;}
  .banner_white_paper .banner-des a { font-size: 15px;}
  .banner_white_paper .banner-des{ top: 32px;}
.white_paper li > div { width: 65%;}
.white_paper li { margin-left: 0; width: 100%; margin-bottom: 16px;}
.white_paper img { margin-bottom: 4px;}
.banner_white_paper .banner-des p { width: 95%}

.shadow-top, .bg-white,
.white_paper .shadow-top { padding-top: 36px;}

.mobile-content, .mobile-content.info {
    display: block;
    padding-top: 0px;
}
/*slider w320*/
.list-clients {
    margin-bottom: 20px;
  }
.list-clients h2{
  margin:2px 0 0 8.375% 
}
.list-clients .viewmore{
  margin-left:  8.375%  
}


}
@media screen and (min-width: 720px) and (max-width: 977px) {
  .page_t8_wp .content { 
    padding: 0 5.55% 24px 1.39%;
    width: 93.06%;}
  #banner .main-banner .banner-des {
    top: 60px;
  }
  #banner .main-banner .banner-img { height: 215px; overflow: hidden; }
  #banner .main-banner .banner-img img { max-width: none; width: auto;}
  .white_paper li { 
    margin-left: 4.478%;
    width: 45.52%;
    margin-bottom: 32px;
  }
  .white_paper li > div { overflow: hidden;  width: 70%;}
  .slider-container {
    padding: 15px 36px 17px 306px;
  }
 .slide-wrapper {
    height: 49px;
    margin: 60px 0 68px;
  }
}
@media screen and (min-width: 978px) {
  
}