.bg-white {
  padding-top: 0;
}
.form-lead-wrapper {
  max-width: 825px;
  overflow: hidden;
  margin: 0 auto;
}
.form-lead-inner-wrapper {
  width: 100%;
  overflow: hidden;
}
.form-title {

}
.form-title .title {
  font-size: 38px;
  color: #747679;
  font-family: 'proximanova-light';
  margin: 0;
  line-height: 36px;
}
.form-title .text-normal,
.row-bottom .text-normal {
  font: 15px/18px 'proximanova-light';
  color: #999;
}
.form-title .text-bold {
  font: 22px/20px 'proximanova-regular';
  color: #747679;
  padding: 7px 0 10px;
}
#form-lead-content {
  overflow: hidden;
  margin-top: 52px;
}
.row-item {
  margin-bottom: 20px;
  overflow: hidden;
}
.row-item span { display: block; }
.row-item span.button-blue { display:inline-block;}
.row-item.custom_select { padding-bottom: 40px; overflow: visible; position: relative; }
.form-lead-inner-colr {
  background: url(../img/u4-bg-center.png) left top no-repeat
}
.form-lead-inner-coll {
  width: 40%;
  float: left;
  padding-right: 5%;
}
.form-lead-inner-colr {
  width: 40%;
  float: left;
  padding-left: 5%;
}
.row-item label {
  font: 15px/18px 'proximanova-regular';
  color: #747679;
  display: block;
  padding-bottom: 7px;
}
.row-item .inputpstyle {
  width: 90%;
  display: block;
}
.row-item .txtareastyle {
  width: 90%;
  height: 105px;
}
.row-bottom {
  clear: both
}
.row-bottom .row-item {
  /*padding-top: 40px;*/ 
}
.button-blue button {
  background: none
}
.row-bottom .text-normal {
  width: 90%;
  padding-top: 24px;
}
.cboxIframe #header,
.cboxIframe #block-get-apps {
  display: none
}
.cboxIframe {
  overflow: hidden
}

/* Colorbox special configuration */
.inputpstyle, .txtareastyle { padding: 5px 10px; }
.color_contact #cboxTopLeft, .color_contact #cboxTopCenter, .color_contact #cboxTopRight { height: 0; }
.color_contact #cboxBottomLeft, .color_contact #cboxBottomCenter, .color_contact #cboxBottomRight { height: 10px; }
.color_contact #cboxMiddleLeft, .color_contact #cboxMiddleRight { width: 29px; display: block; background-image: none; }
.color_contact #cboxLoadedContent { margin: 65px auto 0; }
#colorbox.color_contact { padding: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
}
.color_contact #cboxClose { bottom: auto; top: 16px; right: -13px; }
.color_contact #cboxContent { overflow: visible; }
  .color_contact #form-lead-content > .clearfix > div { width: 384px; }
    .form-lead-inner-coll { padding-right:  28px; }
    .form-lead-inner-colr { padding-left: 29px; }

/* IE 9 */
.lt-ie9 #colorbox.color_contact  { background-color: transparent; }
.lt-ie9 .color_contact #form-lead-content > .clearfix .row-item span { width: 363px; }
.lt-ie9 .color_contact .row-item:before, .lt-ie9 .color_contact .row-item:after { content: ""; display: table; }
.lt-ie9 .color_contact .row-item:after { clear: both; }
.lt-ie9 .color_contact .row-item { width: 383px; *zoom: 1; }
.lt-ie9 .color_contact #cboxTopLeft, .lt-ie9 .color_contact #cboxTopCenter, .lt-ie9 .color_contact #cboxTopRight,
.lt-ie9 .color_contact #cboxBottomLeft, .lt-ie9 .color_contact #cboxBottomCenter, .lt-ie9 .color_contact #cboxBottomRight
{ height: 16px; display: block; background-image: none; }
.lt-ie9 .color_contact #cboxTopLeft, .lt-ie9 .color_contact #cboxMiddleLeft, .lt-ie9 .color_contact #cboxTopRight,
.lt-ie9 .color_contact #cboxBottomLeft, .lt-ie9 .color_contact #cboxMiddleRight, .lt-ie9 .color_contact #cboxBottomRight
{ width: 16px; display: block; }
.lt-ie9 .color_contact #cboxTopCenter,
.lt-ie9 .color_contact #cboxMiddleLeft,
.lt-ie9 .color_contact #cboxMiddleRight,
.lt-ie9 .color_contact #cboxBottomCenter
{ background-color: #fff; }

.lt-ie9 .color_contact #cboxTopLeft,
.lt-ie9 .color_contact #cboxTopRight,
.lt-ie9 .color_contact #cboxBottomLeft,
.lt-ie9 .color_contact #cboxBottomRight
{ background: transparent url('../img/lightbox-border.png') 0 0 no-repeat;}
.lt-ie9 .color_contact #cboxTopLeft {background-position: top left; }
.lt-ie9 .color_contact #cboxTopRight {background-position: top right; }
.lt-ie9 .color_contact #cboxBottomLeft {background-position: bottom left; }
.lt-ie9 .color_contact #cboxBottomRight {background-position: bottom right;}

.lt-ie9 .color_contact #cboxClose { top: 0; right: 0; }
.lt-ie9 .color_contact #cboxLoadedContent { margin-top: 43px; }
  
#form-lead-content .combobox {
  width: 96.5%;
}

.lt-ie9 .row-item .inputright,
    .lt-ie9 .row-item .txtareleft {
      width: 90%
    }
    .lt-ie9 .row-item .inputleft,
    .lt-ie9 .row-item .txtareright {
      width: 100% 
    }
@media screen and (min-width: 645px) and (max-width: 824px) {
  .color_contact .form-lead-wrapper { width: 645px; }
  .color_contact #form-lead-content > .clearfix > div { width: 308px; }
    .color_contact .form-lead-inner-coll { padding-right:  14px; }
    .color_contact .form-lead-inner-colr { padding-left: 15px; background-image: none; }
    .color_contact #form-lead-content .row-bottom { margin-top: 32px; }
      .color_contact .row-item.custom_select { margin: 0 1px 20px; }
        /*.color_contact .row-item .inputpstyle, .row-item .txtareastyle { width: 286px; }*/
  #form-lead-content .combobox {
    width: 97.5%;
  }
  
}
@media screen and (min-width: 825px) {
    .color_contact #form-lead-content .row-bottom { margin-top: 32px; }
      .color_contact .row-item.custom_select { margin: 0 1px 20px; }
        .color_contact .row-item .inputpstyle, 
        .color_contact .row-item .txtareastyle { width: 90%; }    
}


/*html,body{overflow-x:hidden;overflow-y:hidden;}*/